*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
}

.wrapper{
    width: 65vmin;
    height: 70vmin;
    border-radius: 7px;
    background: #293447;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.game-details{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 28px;
    display: flex;
    justify-content: space-between;
}

.play-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(25 , 1fr) / repeat(25 , 1fr);
    background-color: #212837;
}

.play-board .food{
    background: yellow;
}

.play-board .head{
    background: green;
}